{% extends 'mainapp/base.html' %}
{% load static %}

    <title>{{ title }}</title>

    {% block css %}
        <link href="{% static 'css/index.css'%}" rel="stylesheet">
    {% endblock %}


<!-- Page Content -->
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-light mt-5">eShopper Store</h1>
                <p class="text-light">
                    Действительно низкие цены на цифровую технику и фототехнику в Интернет-магазине eShopper Store.
                    Бесплатная доставка по всему миру! -3% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'mainapp:products' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
